
.modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4b4b4b;
}

.modal-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #babfc7;
}